.py-4 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.form-alert {
    width: 100%;
}

.admin-page-form {
    margin: auto;
    width: 60%;
}

.submit-btn-group{
    margin: auto;
}

.submit-btn-group > button {
    border-radius: 5px;
}

.btn-create {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card, .card table , .card .pagination > li {
    border-radius: 5px;
}

.food__list__thumb, .single__food__list {
    width: 100%;
}